@media only screen and (max-width: 700px)
{  
 body main {height: 130vh;}  
 main.fullheight {height:100% !important;}
 .attention .container{
    /*position:absolute !important;*/
    z-index:9999;top:20px;left:0 !important;margin-left:0px!important; width:100%;padding:0;background-color:transparent !important;}
 .attention .row {margin-left:10px !important; margin-right:10px !important; background-color:#fff; padding: 30px 60px 30px 40px ;border-radius: 5px 5px 5px 5px;-moz-border-radius: 5px 5px 5px 5px;-webkit-border-radius: 5px 5px 5px 5px;}
 .attention  {background-color:#fff;}
 .attention_block {margin-top:0px;}
 .attention_podr {margin-top:0px;text-align:left; }
 .attention .wrap-btn-download  {margin-top: 15px;}
 .buttonclose {position:absolute; z-index: 1;top:25px; right:30px;}
 .attention_podr {margin-top:15px;}
 .col-md-12 {padding-left:0 !important; padding-right:0 !important;}
 .mobtext {display:block;}
 .mobbg {display:block;position:fixed; left:0;top:0;width:100%;height:100%;background:rgba(4,9,28,0.9);}
}
